# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env
.venv/
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Ignore compiled files
*.so
*.dll
*.exe
*.o
*.out

# Ignore IDE-specific files
.vscode/
.idea/
*.iml